@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap');
body{
    font-family: 'Koh Santepheap', cursive;
    background-color:darkseagreen;
    margin:0
    
}
.heading{
    margin:auto;
    text-align:center;
    background-color:white;
    padding:1rem 1rem
}
.Container{
    max-width:400px;
    margin: 2rem auto;
    border-style:solid;
    border-radius: 1rem;
    padding:1rem 1rem;
}
.Input-label{
    font-size:x-large;
    font-weight:bold;
    text-align:center;
    
}
input{
    padding:0.5rem;
    border-radius: 0.5rem;
    margin:auto;
    display: block;  
}
button{
    background-color:black;
    color:white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin:1rem auto;
    display: block;  
}
Output{
  border-style:solid;
  border-radius: 1rem;
  display: block;  
  text-align: center;
  background-color:transparent;
  padding:0.5rem 0.5rem;
}